
  

/* Base styles */
.hero {
    background-image: url(../assets/images/build.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    position: relative;
    overflow: hidden;
}
/* 
.heroMov {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background-color: black;
} */

.head {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 0.5rem rgba(900, 990, 990, .6);
    color: white;
    background-color: black .5;

}

.name {
    color: rgb(150, 0, 700);
    text-shadow: none;
}

.sub {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-shadow: 0 0 0.5rem rgba(150, 0, 700, 5);
    color: white;
    text-shadow: 0 0 0.5rem rgba(900, 700, 150, .6);
    background-color: black;

}

.avatar {
    width: 400px; /* Use width to maintain aspect ratio */
    filter: drop-shadow(0 0 0.75rem rgba(150, 0, 700, 0.5));
    opacity: 95%;
    margin-bottom: -180px;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .head {
    }

    .sub {
    }

    .avatar {
        width: 400px; /* Use width to maintain aspect ratio */

    }

}

@media (max-width: 992px) {
    .head {
        top: 15%;
    }

    .sub {
        top: 25%;
    }

    .avatar {
        top: 5%;
    }
}

@media (max-width: 768px) {
    .head {
        top: 10%;
    }

    .sub {
        top: 20%;
    }

    .avatar {
        top: 5%;
    }
}

@media (max-width: 576px) {
    .head {
        /* margin-top: -26px; */
        margin-bottom: -10px;
    }

    .sub {
        top: 18%;
        font-size: 1rem;
    }

    .avatar {
            width: 400px; /* Use width to maintain aspect ratio */
    }
}
